<section
  class="rounded-[8px] border border-gray-200 transition duration-300 hover:shadow-lg hover:-translate-y-1 h-full"
>
  <div class="relative">
    <img class="w-full h-60 object-contain" [src]="product()?.imageCover" alt="" />
    <div class="absolute top-3 right-3 flex flex-col gap-2">
      <button
        (click)="AddToWishlist()"
        class="w-8 h-8 cursor-pointer bg-white rounded-full flex justify-center items-center shadow-sm text-[#4A5565] hover:text-red-600"
      >
        @if (wishlistLoading()) {
          <i class="fa-solid fa-spinner animate-spin"></i>
        } @else if (isInWishlist(product()?._id!)) {
          <i class="fa-solid fa-heart text-red-600"></i>
        } @else {
          <i class="fa-regular fa-heart"></i>
        }
      </button>
      <div class="w-8 h-8 bg-white rounded-full flex justify-center items-center shadow-sm">
        <i class="fa-solid fa-rotate text-[#4A5565]"></i>
      </div>
      <a
      [routerLink]="['/product-details', product()?._id, product()?.slug]"
        class="w-8 h-8 bg-white rounded-full flex justify-center items-center text-[#4A5565] shadow-sm hover:text-green-600"
      >
        <i class="fa-regular fa-eye"></i>
      </a>
    </div>
  </div>
  <div class="p-4">
    <p class="text-xs font-medium text-gray-500 mb-1">{{ product()?.category?.name }}</p>
    <a
      [routerLink]="['/product-details', product()?._id, product()?.slug]"
      class="font-medium mb-1 block"
      >{{ product()?.title! | termcut: 59 }}</a
    >
    <div class="flex items-center gap-2 mb-1">
      <app-rating-stars
        [ratingsAverage]="product()?.ratingsAverage"
        [ratingsQuantity]="product()?.ratingsQuantity"
      ></app-rating-stars>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-lg font-bold">{{ product()?.price }} EGP</span>
      <button
        [disabled]="isLoading()"
        (click)="AddToCart(product()?._id!)"
        class="w-10 h-10 rounded-full flex justify-center items-center bg-green-600 text-white cursor-pointer transition hover:bg-green-700 disabled:opacity-70"
      >
        @if (done()) {
          <i class="fa-solid fa-check"></i>
        }
        @if (isLoading()) {
          <i class="fa-solid fa-spinner animate-spin"></i>
        } @else if (!isLoading() && !done()) {
          <i class="fa-solid fa-plus"></i>
        }
      </button>
    </div>
  </div>
</section>
