<section class="py-6 px-4 border-y border-[#DCFCE7] bg-[#F0FDF4]">
  <div class="container mx-auto">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div
        class="flex items-center gap-4"
      >
        <div class="w-12 h-12 rounded-full bg-[#DCFCE7] flex justify-center items-center">
          <i class="fa-solid fa-truck text-[#16A34A] text-xl"></i>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold">Free Shipping</h3>
          <p class="text-xs font-medium text-[#6A7282]">On orders over 500 EGP</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4"
      >
        <div class="w-12 h-12 rounded-full bg-[#DCFCE7] flex justify-center items-center">
          <i class="fa-solid fa-shield-halved text-[#16A34A] text-xl"></i>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold">Secure Payment</h3>
          <p class="text-xs font-medium text-[#6A7282]">100% secure transactions</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4"
      >
        <div class="w-12 h-12 rounded-full bg-[#DCFCE7] flex justify-center items-center">
          <i class="fa-solid fa-rotate-left text-[#16A34A] text-xl"></i>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold">Easy Returns</h3>
          <p class="text-xs font-medium text-[#6A7282]">14-day return policy</p>
        </div>
      </div>
      <div
        class="flex items-center gap-4"
      >
        <div class="w-12 h-12 rounded-full bg-[#DCFCE7] flex justify-center items-center">
          <i class="fa-solid fa-headset text-[#16A34A] text-xl"></i>
        </div>
        <div class="">
          <h3 class="text-sm font-semibold">24/7 Support</h3>
          <p class="text-xs font-medium text-[#6A7282]">Dedicated support team</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="bg-slate-900">
  <div class="py-12 px-4 container mx-auto flex justify-between flex-col md:flex-row">
    <div class="mb-8 shrink">
      <div class="bg-white inline-block rounded-[8px] py-2 px-4 mb-7.5">
        <img src="images/freshcart-logo.svg" alt="" />
      </div>
      <p class="text-gray-400 text-sm font-medium mb-6 max-w-117.5">
        FreshCart is your one-stop destination for quality products. From fashion to electronics, we
        bring you the best brands at competitive prices with a seamless shopping experience.
      </p>
      <div class="flex flex-col gap-3 mb-6">
        <div class="flex items-center gap-3">
          <i class="fa-solid fa-phone text-green-500"></i>
          <span class="text-gray-400 text-sm font-medium">+1 (800) 123-4567</span>
        </div>
        <div class="flex items-center gap-3">
          <i class="fa-regular fa-envelope text-green-500"></i>
          <span class="text-gray-400 text-sm font-medium">support@freshcart.com</span>
        </div>
        <div class="flex items-center gap-3">
          <i class="fa-solid fa-location-dot text-green-500"></i>
          <span class="text-gray-400 text-sm font-medium"
            >123 Commerce Street, New York, NY 10001</span
          >
        </div>
      </div>
      <div class="flex items-center gap-3">
        <a
          href=""
          class="w-10 h-10 rounded-full flex justify-center items-center bg-[#1E2939] text-gray-400"
        >
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
          href=""
          class="w-10 h-10 rounded-full flex justify-center items-center bg-[#1E2939] text-gray-400"
        >
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a
          href=""
          class="w-10 h-10 rounded-full flex justify-center items-center bg-[#1E2939] text-gray-400"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          href=""
          class="w-10 h-10 rounded-full flex justify-center items-center bg-[#1E2939] text-gray-400"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
    <div class="mb-8">
      <h3 class="mb-5 text-lg font-semibold text-white">Shop</h3>
      <ul class="text-gray-400 text-sm font-medium flex flex-col gap-3">
        <li class="pt-0.75 pb-px">All Products</li>
        <li class="pt-0.75 pb-px">Categories</li>
        <li class="pt-0.75 pb-px">Brands</li>
        <li class="pt-0.75 pb-px">Electronics</li>
        <li class="pt-0.75 pb-px">Men's Fashion</li>
        <li class="pt-0.75 pb-px">Women's Fashion</li>
      </ul>
    </div>
    <div class="mb-8">
      <h3 class="mb-5 text-lg font-semibold text-white">Account</h3>
      <ul class="text-gray-400 text-sm font-medium flex flex-col gap-3">
        <li class="pt-0.75 pb-px">My Account</li>
        <li class="pt-0.75 pb-px">Order History</li>
        <li class="pt-0.75 pb-px">Wishlist</li>
        <li class="pt-0.75 pb-px">Shopping Cart</li>
        <li class="pt-0.75 pb-px">Sign In</li>
        <li class="pt-0.75 pb-px">Create Account</li>
      </ul>
    </div>
    <div class="mb-8">
      <h3 class="mb-5 text-lg font-semibold text-white">Support</h3>
      <ul class="text-gray-400 text-sm font-medium flex flex-col gap-3">
        <li class="pt-0.75 pb-px">Contact Us</li>
        <li class="pt-0.75 pb-px">Help Center</li>
        <li class="pt-0.75 pb-px">Shipping Info</li>
        <li class="pt-0.75 pb-px">Returns & Refunds</li>
        <li class="pt-0.75 pb-px">Track Order</li>
      </ul>
    </div>
    <div>
      <h3 class="mb-5 text-lg font-semibold text-white">Legal</h3>
      <ul class="text-gray-400 text-sm font-medium flex flex-col gap-3">
        <li class="pt-0.75 pb-px">Privacy Policy</li>
        <li class="pt-0.75 pb-px">Terms of Service</li>
        <li class="pt-0.75 pb-px">Cookie Policy</li>
      </ul>
    </div>
  </div>
  <div class="border-t border-[#1E2939]">
    <div
      class="px-4 py-6 text-center text-gray-500 text-sm font-medium flex flex-col md:flex-row justify-between items-center"
    >
      <p>© 2026 FreshCart. All rights reserved.</p>
      <div class="flex items-center justify-center gap-4">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-credit-card"></i>
          <span>Visa</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-credit-card"></i>
          <span>Mastercard</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-credit-card"></i>
          <span>PayPal</span>
        </div>
      </div>
    </div>
  </div>
</footer>
