<section class="py-16">
  <div class="max-w-7xl w-full mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center px-4">
      <div class="hidden lg:block">
        <div
          class="bg-linear-to-br from-[#F0FDF4] via-[#F0FDF4] to-[#F3F4F6] w-full h-96 rounded-2xl relative shadow-[0px_4px_6px_-4px_#0000001A,0px_10px_15px_-3px_#0000001A] mb-6"
        >
          <div class="w-24 h-24 rounded-full bg-[#DCFCE780] absolute top-8 left-8"></div>
          <div class="w-16 h-16 rounded-full bg-[#D0FAE580] absolute top-20 right-20"></div>
          <div class="w-32 h-32 rounded-full bg-[#DCFCE780] absolute bottom-10 right-10"></div>
          <div class="relative inline-flex flex-col gap-5 left-1/2 -translate-x-1/2 top-28.75">
            <div
              class="absolute w-14 h-14 flex items-center justify-center bg-white rounded-xl top-4 -left-16 -rotate-12 shadow-[0px_4px_6px_-4px_#0000001A,0px_10px_15px_-3px_#0000001A]"
            >
              <i class="fa-solid fa-envelope text-xl text-[#22C55E]"></i>
            </div>
            <div
              class="absolute w-14 h-14 flex items-center justify-center bg-white rounded-xl top-8 -right-16 rotate-12 shadow-[0px_4px_6px_-4px_#0000001A,0px_10px_15px_-3px_#0000001A]"
            >
              <i class="fa-solid fa-shield-halved text-xl text-[#22C55E]"></i>
            </div>
            <div
              class="w-28 h-28 bg-white rotate-3 rounded-3xl flex items-center justify-center shadow-[0px_8px_10px_-6px_#0000001A,0px_20px_25px_-5px_#0000001A]"
            >
              <div class="flex items-center justify-center w-20 h-20 bg-[#DCFCE7] rounded-2xl">
                <i class="fa-solid fa-lock text-4xl text-[#16A34A]"></i>
              </div>
            </div>
            <div class="flex items-center justify-center gap-3">
              <i class="fa-solid fa-circle text-xs text-[#4ADE80]"></i>
              <i class="fa-solid fa-circle text-xs text-[#22C55E]"></i>
              <i class="fa-solid fa-circle text-xs text-[#16A34A]"></i>
            </div>
          </div>
        </div>
        <div class="text-center space-y-4">
          <h2 class="text-3xl font-bold">Reset Your Password</h2>
          <p class="text-gray-600 text-lg font-medium">
            Don't worry, it happens to the best of us. We'll help you get back into your account in
            no time.
          </p>
          <div class="flex items-center justify-center gap-8 text-sm font-medium text-gray-700">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-envelope text-[#16A34A]"></i> Email Verification
            </div>
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-shield-halved text-[#16A34A]"></i> Secure Reset
            </div>
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-lock text-[#16A34A]"></i> Encrypted
            </div>
          </div>
        </div>
      </div>
      <div>
        <div
          class="p-12 bg-white rounded-2xl shadow-[0px_8px_10px_-6px_#0000001A,0px_20px_25px_-5px_#0000001A]"
        >
          @if (stepNumber() == 1) {
            <app-email-form
              [parentForm]="emailForm"
              (sendCode)="sendCode()"
              [isLoading]="isLoading()"
            ></app-email-form>
          }
          @if (stepNumber() == 2) {
            <app-code-form
              [userEmail]="emailForm.get('email')?.value"
              [parentForm]="codeForm"
              (sendCode)="sendCode()"
              (verifyEmail)="verifyEmail()"
              [isLoading]="isLoading()"
              [(step)]="stepNumber"
            ></app-code-form>
          }
          @if (stepNumber() == 3) {
            <app-new-password-form
              [parentForm]="newPassFormUI"
              (resetPass)="resetPass()"
              [isLoading]="isLoading()"
            ></app-new-password-form>
          }
          @if (stepNumber() == 4) {
            <app-success></app-success>
          }
        </div>
      </div>
    </div>
  </div>
</section>
